#profile {
    text-align:center;
    position:relative;
    border-radius: 50%;
}

#arrow_down {
    cursor: pointer;
}

#github, #linkedin {
    color:gainsboro;
}

#github:hover, #linkedin:hover {
    color:black;
    cursor: pointer;
}

@media (max-width: 600px) {
    #blob {
      display: none;
    }
  }

#about {
    padding-top: 100px;
}