#profile {
    text-align:center;
    position:relative;
    border-radius: 50%;
}

#resume_download:hover {
    background-color: #587B7F !important;
}

#arrow_down {
    cursor: pointer;
}

#github, #linkedin {
    color:gainsboro;
}

#github:hover, #linkedin:hover {
    color:black;
    cursor: pointer;
}